<% @post.comments.each do |comment| %>
    <div class="flex">
        <div class="card mt-4 mx-3">
            <div class="plf">
                <%= link_to user_path(comment.user.id) do %>
                    <span><%= image_tag comment.user.image_url %></span>
                    <span class="name"><%= comment.user.name %></span>
                    <span class="name"><%= comment.user.username %></span>
                    <% if comment.created_at.present? %>
                        <span class="name"><%= custom_date_format(comment.created_at) %></span>
                    <% end %>
                <% end %>
                <div class="font">
                    <% if comment.user == current_user %>
                        <%= link_to post_comment_path(comment.post, comment), method: :delete, remote: true do %>
                            <i class="fa-solid fa-trash-can"></i>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="content">
                <div><%= comment.comment %></div>
                <% if comment.images.attached? %>
                    <div class="image-container">
                        <% comment.images.each do |image| %>
                            <%= image_tag image, class: 'img-fluid', style: 'max-width: 100px; max-height: 100px; margin-right: 10px;' %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
